/* ---   Global Styles  ---- */
body
{

   background-color:#DDE6DA;
   padding-top: 50px;
}

      /* --- Feature Styles  ----*/

.featuresHeader
{
   text-align: center;
   font-family: 'Luckiest Guy', cursive;
}
.maxPara
{
   background-color: #C6C6C6;
}
.panel-title
{
   text-align: center;
}
.btn-block
{
   color: black;
}
.featurePara
{
   text-align: justify;
}

 /* --- Big Callout ---*/

.well .page-header
{
   margin-top: 0;
}

.well
{
  margin-top: 20px;
}

.lead
{
   text-align: justify;
   color: black;
   font-family: 'Short Stack', cursive;
}
.callOutHeader
{
   font-family: 'Frijole', cursive;
}


/*   Navbar      */


.navbar-brand{
   padding: 0;
}
#searchinput
{
   width: 200px;
}

/* ----  Carousel ---- */

.carousel-caption
{
   font-size: 130%;
}
.carouselHeader
{
   font-family: 'Bowlby One SC', cursive;
}
.firstslidercaption
{
   color:#FAF307;
}
.secondslidercaption
{
   font-size: 130%;
   
   color:#FAF307;

}
.thirdslidercaption
{
   font-size: 130%;
   color:#FAF307;

}

/*  ---- Second Page Styles */
.secondPageContainer
{
   margin-top: 100px;
   text-align: justify;
   background-color: grey;
}

.secondPageHeader2
{
   margin-top: 20px;
}
.boxOfficeList
{
   margin-top: 100px;
}
.boxOfficeWeekend
{
   margin-bottom: 20px;
}
#boxOfficeHeading
{
   margin-top: 80px;
   text-align: center;
}
.secondPageBottom
{
   text-align: center;
   color: black;
}
.secondFeaturesHeader
{
   text-align: center;
   margin-top: 50px;
}

  /*   Tab Pane*      */
.followingnews4
{
   text-align: justify;

}
.thumbnail
{
   margin: 0 20px 10px 0;
}
.thumbnail2
{
   margin: 0 20px 10px 0;
}
.thumbnail3
{
   margin: 0 20px 10px 0;
}
#tab1
{
   margin-top: 10px;
}
#tab2
{
   margin-top: 10px;
}
#tab3
{
   margin-top: 10px;
}
.list-group
{
   margin-top: 5px;
}
.borntoday
{
   margin-top: 50px;
   text-align: center;
   background-color: grey;
}
.bornHeader
{
   margin-bottom: 30px;
   font-family: 'Luckiest Guy', cursive;
}


/*      footer styling            */

footer
{
   background-color: black;
   margin-top: 50px;
}
.fontColor
{
   color: white;
}
.copyright
{
   color: white;

}
.companyHeader
{
   color: #00d9ed;
   margin-left: 30px;
}
.company
{
   color: white;
}
.companyList
{
   text-decoration: underline;
   color: white;
}
.followUs
{
   font-size: 230%;
   
   color: #00d9ed;
}
.availableOnHeader
{
   color: #00d9ed;
}
.companyDetails
{
   color: white;
}
.featurePara2
{
   text-align: center;
}



/* ------- Media Queries ----*/

/* Portrait & landscape phone */

@media (max-width: 480px) {
   #slide1 h2,h3{
font-size: 90%;   
   }
   #slide2 h2,h3{
font-size: 90%;   
   }
   #slide3 h2,h3{
font-size: 90%;   
   }

   #myCarousel .item
   {
      height: 270px;

   } 
   #slide1
   {
      background: url("../../img/carousel1_extrasmall.jpg") top center no-repeat;
      background-size: 100% 100%;
      

   }
   #slide2
   {
      background: url("../../img/carousel2_extrasmall.jpg") top center no-repeat;
      background-size: 100% 100%;

   }
   #slide3
   {
      background: url("../../img/carousel3_extrasmall.jpg") top center no-repeat;
      background-size: 100% 100%;
      
   }
}

@media (min-width: 481px)
{
   #myCarousel .item
   {
      height: 275px;
   }
      #slide1 
   {
      background: url("../../img/carousel1_small.jpg") top center no-repeat;
      background-size: 100% 100%;

   }
   #slide2
   {
      background: url("../../img/carousel2_small.jpg") top center no-repeat;
      background-size: 100% 100%;

   }
   #slide3
   {
      background: url("../../img/carousel3_small.jpg") top center no-repeat;
      background-size: 100% 100%;

   }

}
@media (min-width: 768px)
{
   #myCarousel .item
   {
      height: 275px;
   }
   #slide1 
   {
      background: url("../../img/carousel1_medium.jpg") top center no-repeat;
      background-size: 100% 100%;

   }
   #slide2
   {
      background: url("../../img/carousel2_medium.jpg") top center no-repeat;
      background-size: 100% 100%;

   }
   #slide3
   {
      background: url("../../img/carousel3_medium.jpg") top center no-repeat;
      background-size: 100% 100%;

   }
}

/* Large desktop */
@media (min-width: 784px) {
   #myCarousel .item {
      height: 600px;
   }
   .feature
   {
      margin-bottom: 500px;
   }
   .panel2{
      height: 300px;
   }

   #slide1
   {
      background: url("../../img/carousel1_large.jpg") top center no-repeat;
      background-size: 100% 100%;

   }

   #slide2
   {
      background: url("../../img/carousel2_large.jpg") top center no-repeat;
      background-size: 100% 100%;

   }
   #slide3
   {
      background: url("../../img/carousel3_large.jpg") top center no-repeat;
      background-size: 100% 100%;

   }

}
